<nav class="flex items-center bg-gray-800 p-3 flex-wrap">
  <a href="/unidades" class="p-2 mr-4 inline-flex items-center">
    <img src="./assets/image/logo1.png" class="logo">
    <span class="text-xl text-white font-bold uppercase tracking-wide">Sistema de Monitoreo Para Buses en Jutiapa</span>
  </a>

  <div class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto" id="navigation">
    <div
      class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start  flex flex-col lg:h-auto">
      <a href="#"
        class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white">
      </a>
    </div>
  </div>
</nav>



<div class="wrapper">
  <div class="grid grid-flow-col ">
    <div class="row-span-3 "><button (click)="irUnidades()"
      class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
      Seleccionar Ruta</button></div>


    <div class="row-span-1 "><button (click)="drawRoute()"  class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
    VER RUTA_{{ruta}}
  </button></div>
  </div>
  <!-- <button (click)="testMarker()" class="btn-route">Marcador</button> -->
  
</div>

<p class=" font-bold text-xl bg-dark text-center text-white">para Ver la Ruta por donde se Desplaza la Unidad Preciona ver Ruta</p>


<div class="wrapper" ng-init="drawRoute()">

  <div id="map" #asMap class="map-container"></div>

</div>