<nav class="flex items-center bg-gray-800 p-3 flex-wrap">
    <a href="/unidades" class="p-2 mr-4 inline-flex items-center">
        <img src="./assets/image/logo1.png" class="logo">
        <span class="text-xl text-white font-bold uppercase tracking-wide">SGUB JUIAPA</span>
    </a>
    <button
        class="text-white inline-flex p-3 hover:bg-gray-900 rounded lg:hidden ml-auto hover:text-white outline-none nav-toggler"
        data-target="#navigation">
        RB
    </button>
    <div class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto" id="navigation">
        <div
            class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start  flex flex-col lg:h-auto">
            <a href="#"
                class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white">
                <span>Sistema de geolocalizacion JUtiapa</span>
            </a>
        </div>
    </div>
</nav>

<div class="grid lg:grid-cols-2 p-8 gap-8 sm:grid-cols-1 ">
    <div class="rounded-xl shadow-xl">
        <img class="w-full rounded-t-xl h-36 object-cover" src="./assets/image/metroplaca.jpg">
        <div class="p6">
            <div class="flex flex-row">
                <div class="uppercase text-xs text-yellow-700 bg-yellow-200 px-2 py-1 rounded-xl">
                    Ruta Metro Plaza Jutiapa
                </div>
            </div>
            <h2 class="text-2x1 mt-2 font-bold ">

                Aproximadamente 2400 usuarios
            </h2>
            <div class="flex flex-row mt-4 items-center">
                <img class="rounded-full mr-2" src="./assets/image/castrol2.jpg">
                <div class="font-bold mr-2">John Smith</div>
            </div>
            <button (click)="mapaMetro()"
                class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                Ver ruta</button>

        </div>
    </div>

    <div class="rounded-xl shadow-xl">
        <img class="w-full rounded-t-xl h-36 object-cover" src="./assets/image/tunas.jpg">
        <div class="p6">

            <div class="flex flex-row">
                <div class="uppercase text-xs text-yellow-700 bg-yellow-200 px-2 py-1 rounded-xl">
                    Ruta Las Tunas Jutiapa
                </div>
            </div>

            <h2 class="text-2x1 mt-2 font-bold ">
                Aproximadamente 5000 usuarios
            </h2>



            <div class="flex flex-row mt-4 items-center">
                <img class="rounded-full mr-2" src="./assets/image/sazo_opt.jpg">
                <div class="font-bold mr-2">Piloto. Mario Cordero</div>
                
            </div>
            <button (click)="mapaTunas()"
                class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                Ver ruta</button>

        </div>
    </div>
</div>